<div class="welcome-section">
    <h2 data-editable="profile-title">{{profile.title}}</h2>
    <h3 data-editable="profile-subtitle">{{profile.subtitle}}</h3>
    <p class="subtitle" data-editable="profile-description">{{profile.description}}</p>
</div>
{{#each categories}}
    {{> category}}
{{/each}} 