<div class="welcome-section">
    <h2 data-editable="page-title">{{title}}</h2>
    <p class="subtitle" data-editable="page-subtitle">{{subtitle}}</p>
</div>
{{#each categories}}
    {{> category}}
{{/each}} 